@{
    ViewData["Title"] = "Главная";
}

<div style="padding: 10px;"></div>
@if (User.Identity.IsAuthenticated)
{
  <div class="card col-md-12">
  <div class="card-body">
    <h5 class="card-title text-center">Добро пожаловать на сайт Motorcycle</h5>
    <p class="card-text">
      На этом сайте вы сможете выбрать подходящую для вас модель мотоцикла, посмотреть его характеристики, сравнить
      с другими моделями, а так же можете приобрести его.
    </p>
    <p class="card-text"><small class="text-muted">By mironow</small></p>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  @if (User.IsInRole("Admin"))
  {
    <div class="col">
      <div class="card h-100">
        <img src="" class="card-img-top card-image"/>
        <div class="card-body text-center">
          <h5 class="card-title"></h5>
          <p class="card-text"> </p>
        </div>
        <div class="card-footer text-center">
          <a asp-controller="Motorcycle" asp-action="GetMotorcycles" class="card-link">Список машин</a>
        </div>
      </div>
    </div> 
  }
  <div class="col">
    <div class="card h-100">
      <img src="https://hdpic.club/uploads/posts/2021-11/1637608161_1-hdpic-club-p-kavasaki-nindzya-300-1.jpg" class="card-img-top card-image"/>
      <div class="card-body text-center">
        <h5 class="card-title">Кавасаки</h5>
        <p class="card-text">
          На сегодняшний день Kawasaki Heavy Industries представляет собой больше объединение предприятий, на которых налажен выпуск тяжелого производственного оборудования, авиационной и космической техники. Но среди обычных людей, название Kawasaki в первую очередь связанно с мотоциклами. К современному модельному ряду относятся автодорожные машины и мотоциклы двойного предназначения, спортивные внедорожные мотоциклы, а также квадроциклы 
        </p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Motorcycle" asp-action="GetAllMotorcycles" class="card-link">Список мотоциклов</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://dreammoto.ru/storage/images/catalog/4320/910a5172-9a94-4282-a038-6a1ee0d567e7(600_400).jpg" class="card-img-top card-image"/>
      <div class="card-body text-center">
        <h5 class="card-title">Honda</h5>
        <p class="card-text">Мотоциклы Honda — крупнейший производитель мотоциклов в Японии, который начал производство в 1955 году. На пике своего развития в 1982 году Honda производила почти три миллиона мотоциклов ежегодно. К 2006 году эта цифра снизилась примерно до 550 000, но все еще была выше, чем у трех японских конкурентов.</p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Motorcycle" asp-action="GetAllMotorcycles" class="card-link">Список мотоцикловpickme</a>
      </div>
    </div>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Основные виды мотоциклов</h5>
    <p class="card-text">
       Классический (дорожный)  
    <p/>
    <p class="card-text">
       Туристический (турер)  
    <p/>
    <p class="card-text">
       Спортивный (гоночный) 
    <p/>
    <p class="card-text">
       Кроссовый (эндуро) 
    <p/>
    <p class="card-text">
       Чоппер
    <p/>
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Наибольшим спросом пользуются легковые мотоциклы</h5>
  </div>
  <ul class="list-group list-group-flush" id="ulListId">
       

    <li class="list-group-item"> Слышали или видели когда-нибудь, как по трассе что-то стремительно проносится, издавая громкое жужжание? Вот это и есть спортивные мотоциклы, в которых упор сделан на скорость и управляемость. </li>
    <li class="list-group-item"> Классические мотоциклы – транспорт для повседневной езды по городу и преодоления небольших расстояний по трасс  </li>
    <li class="list-group-item"> Туристические мотоциклы – байки, предназначенные для езды на дальние дистанции в комфортных условиях. Они позволяют преодолевать за день больше 1000 км, при этом не уставая. Обычно эти байки оснащаются комфортными мягкими сидушками, пассажирское седло может иметь подлокотники и высокую спинку </li>
  </ul>
  <div class="card-body">
    <button class="btn btn-danger" id="btnHideId">Скрыть</button>
    <button class="btn btn-primary" id="btnShowId">Показать</button>
  </div>
</div>
}
else
{
  <div class="card">
    <div class="card-header">
      Вы не авторизовались
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Для просмотра контента вы должны авторизоваться</p>
      </blockquote>
    </div>
  </div>
  
  <div style="padding: 10px;"></div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://dreammoto.ru/storage/images/catalog/4320/910a5172-9a94-4282-a038-6a1ee0d567e7(600_400).jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
  </div>
}

@section pageScripts
{
    <script>
    
    $('#btnHideId').click(function(){
      $('#ulListId').hide(2000);
    });
    
    $('#btnShowId').click(function () {
      $('#ulListId').show(2000);
    });
  </script>
}
